<%=form_for @post, class: "form-horizontal" do |p| %>

  <div class="form-group">
    <%= p.label :date, class: "col-sm-2 control-label" %>
    <%= p.date_field :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= p.label :rationale, class: "col-sm-2 control-label" %>
    <%= p.text_area :rationale, class: "form-control" %>
  </div>

   <%= p.submit 'Save', class: 'btn btn-primary btn-block' %>

<% end %>


